* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
}

body {
  background: #0052D4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  

  padding: 60px;
  margin: auto;
  border-radius: 30px;
}

input {
  font-size: 1.2rem;
  width: 100%;
  color: chocolate;
}

.card-grid {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  /* border: 1px solid gray; */
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 250px;
}